    <!-- TODO update the meta properties for the "og:" and the "twitter card" -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://watercss.kognise.dev/" />
    <meta property="og:title" content="Water.css" />
    <meta property="og:description"
        content="A drop-in collection of CSS styles to make simple websites like this just a little bit nicer." />
    <meta property="og:image" content="https://raw.githubusercontent.com/kognise/water.css/master/assets/logo.png" />
    <meta property="og:image:width" content="1154" />
    <meta property="og:image:height" content="444" />