{{ define "header" }}
<section>
<p class="tiny-heading">As-Salaamu Alaykum,</p>
<h2>You Beautiful Human!</h2>
<p class="standout-copy"><b>I'm Talha — Artist. Writer. Survivor.</b></br>The unfiltered voice of a Muslim man exemplifying holistic masculinity while on the voyage towards sovereignty.</p>
</section>

<section>
<p class="tiny-heading">Newsletter</p>
<h3>ENDURANCE Digest</h3>
  <p>Letters of encouragement and the realities of designing a fulfilling life on my terms after the trauma of childhood & adult sexual abuse.</p>
  <p>Yes. It gets deep and I very much enjoy replying to your email feedback.</p>

  <div class="form-newsletter">
    <div class="form-newsletter-input">
      <iframe src="https://embeds.beehiiv.com/e7d1acef-ee1f-4544-bc5e-8daad3f4d3cb?slim=true" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
    </div>
    <p><a href="/newsletter/">Read the latest issues.</a></p>
</div>
</section>
{{ end }}



{{ define "main" }}
<section>
<p class="tiny-heading">Book Release</p>
<h3>The Single Wife: Being Found By A Good Man</h3>
<p>By community request, he first of a 5-part series for marriage-minded women who want practical lessons on how to be found by a man of their desires.</p><p><a target="_blank" href="http://cyrusspeakz.gumroad.com/l/thehiddenwife?layout=profile">Learn more about the series.</a></p> 
</section>
{{ end }}



{{ define "footer" }}
{{ end }}