{{ define "header" }}
<section>
<p class="tiny-heading">uh-oh</p>
<h2>You Found the 404 Page</h2>
<p class="standout-copy">Don't worry I got you.</p><p>I have prepared for this moment all my life.</p><p>There's two actions you will need to take in order to fix this.</p>
<ol>
  <li>Download your gift by <a href="">clicking here.</a></li>
  <li>Click this link to take you back to where you were</li>
</ol>
<p>Alternatively, you can choose you own adventure and be taken to a random area of my site.</p>
</section>
{{ end }}