{{ define "header" }}
<section>
<p class="tiny-heading">The 411</p>
<h2>Just For You</h2>
<p class="standout-copy"><b>I'm Talha — Artist. Writer. Survivor.</b></br>Get in touch with me about anything by emailing "<a href="mailto: hey@talhacyrus.com">Hey@TalhaCyrus.com</a>".</p> 
<p>Want the best of me in the most efficient way possible? Join my clan, become a part of the righteous few.</p>
<div class="form-newsletter">
  <div class="form-newsletter-input">
    <iframe src="https://embeds.beehiiv.com/e7d1acef-ee1f-4544-bc5e-8daad3f4d3cb?slim=true" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
  </div>
  <p><a href="/newsletter/">Read the latest issues.</a></p>
</div>
</section>
{{ end }}



{{ define "main" }}
<section>
  <details>
    <summary class="heading">The Man</summary>
    <dl>
      <dt>Artist</dt>
      <dd><a target="_blank" href="https://talhacyrus.com/artist">A Muslim Artist</a></dd> 
    </dl>
    <dl>
      <dt>Writer</dt>
      <dd><a target="_blank" href="https://talhacyrus.com/writer">The Digital Garden</a></dd> 
    </dl>
    <dl>
      <dt>Speaker</dt>
      <dd><a target="_blank" href="https://talhacyrus.com/speaker">Cyrus Speakz</a></dd> 
    </dl>
    <dl>
      <dt>Educator</dt>
      <dd><a target="_blank" href="https://talhacyrus.com/educator">Cyrus University</a></dd> 
    </dl>
    <dl>
      <dt>Consultant</dt>
      <dd><a target="_blank" href="https://talhacyrus.com/consultant">Work with me</a></dd> 
    </dl>
  </details>

<details>
  <summary class="heading">For the Ladies</summary>
  <dl>
    <dt>Latest Book Release</dt>
    <dd><a target="_blank" href="http://talhacyrus.gumroad.com/l/thehiddenwife?layout=profile">The Single Wife: Being Found By A Good Man</a></dd> 
    <dt>Podcast About Men</dt>
    <dd><a target="_blank" href="http://cyrusspeakz.gumroad.com/l/thehiddenwife?layout=profile">The Delivery: Reality Made Gentle</a></dd>
    <dt class="dt-italic">A Must Read</dt>
    <dd><a target="_blank" href="http://cyrusspeakz.gumroad.com/l/thehiddenwife?layout=profile">Kind Words From A Man</a></dd>
  </dl>
</details>

  <details>
    <summary class="heading">For the Gentlemen</summary>
    <dl>
      <dt>Newsletter on Masculinity</dt>
      <dd><a target="_blank" href="http://cyrusspeakz.gumroad.com/l/thehiddenwife?layout=profile">The Righteous Few</a></dd> 
    </dl>
  </details>
</section>
{{ end }}



{{ define "footer" }}
{{ end }}